@model MvcWebProjectNEW.Models.AspnetUserIntermidiate
@{
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}
<h2>
    Редактирование профиля @Model.UserName
</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div>
    @Html.ActionLink("Изменение пароля", "ChangePassword", "Admin", new { userName = Model.UserName }, null)
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Роли пользователя</legend>
        <table>
            @foreach (var item in Roles.GetRolesForUser(Model.UserName))
            {
                <tr>
                    <td>
                        @Html.Label(item)
                    </td>
                    <td>
                        @Html.ActionLink("Удалить из роли", "DeleteRole", new { userName = Model.UserName, role = item })
                    </td>
                </tr>
            }
            @{
            var roles = Roles.GetAllRoles();
            foreach (var item in roles)
            {
                if (!Roles.IsUserInRole(Model.UserName, item))
                {
                <tr>
                    <td>
                        @Html.Label(item, item)
                    </td>
                    <td>
                        @Html.ActionLink("Добавить в роль", "AddRole", new { userName = Model.UserName, role = @item })
                    </td>
                </tr>
                }
            }
            }
        </table>
    </fieldset>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Профиль</legend>
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.LoweredUserName)
        @Html.HiddenFor(model => model.MobileAlias)
        @Html.HiddenFor(model => model.IsAnonymous)
        @Html.HiddenFor(model => model.LastActivityDate)
        @Html.HiddenFor(model => model.UserName)
        <table>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.CompaniName)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.CompaniName)
                    @Html.ValidationMessageFor(model => model.CompaniName)
                </td>
            </tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.ZipCode)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </td>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Telephone1)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Telephone1)
                    @Html.ValidationMessageFor(model => model.Telephone1)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Telephone2)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.Telephone2)
                    @Html.ValidationMessageFor(model => model.Telephone2)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.FullName)
                </td>
                <td class="editor-field">
                    @Html.EditorFor(model => model.FullName)
                    @Html.ValidationMessageFor(model => model.FullName)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.OtherInformation)
                </td>
                <td class="editor-field">
                    @Html.TextAreaFor(model => model.OtherInformation, 10, 60, null)
                    @Html.ValidationMessageFor(model => model.OtherInformation)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Сохранить изменения" />
        </p>
    </fieldset>
}
