@model MvcWebProjectNEW.Models.VesenniLetter
@{
    ViewBag.Title = "SeeLetter";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}
<h2>
    Автор: @Model.AspnetUser.FullName / @Model.AspnetUser.CompaniName / @Html.ActionLink("Просмотр профиля", "ShowProfile", new { userId = Model.AspnetUser.UserId })</h2> 
<table>
    <tr>
        <td class="display-label">
            <b>Дата</b>
        </td>
        <td class="display-field">
            <b>@Html.DisplayFor(model => model.DateSend)</b>
        </td>
    </tr>
    <tr>
        <td class="display-label">
        </td>
        <td class="display-field">
            <b>@Html.DisplayFor(model => model.Title)</b>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            @Html.TextAreaFor(model => model.Content, 20, 70, new {disabled = "disabled", style="color:black;"})
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("К письмам", "ShowLetters")
</p>
