@model MvcWebProjectNEW.Models.AspnetUserIntermidiate
@{
    ViewBag.Title = "ShowProfile";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}
<h2>
    Профиль</h2>
<fieldset>
    <legend>Информация о пользователе</legend>
    <table>
        <tr>
            <td>
                Имя пользователя:
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                Адрес:
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <tr>
                <td>
                    Название компании:
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.CompaniName)
                </td>
                <tr>
                    <td>
                        Почтовый индекс:
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                </tr>
                <tr>
                    <td>
                        Телефон1:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Telephone1)
                    </td>
                </tr>
                <tr>
                    <td>
                        Телефон2:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Telephone2)
                    </td>
                </tr>
                <tr>
                    <td>
                        Полное имя:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.FullName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Прочая информация:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.OtherInformation)
                    </td>
                </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "EditUser", new { Id = Model.UserId })
</p>
