@model IEnumerable<MvcWebProjectNEW.Models.AspnetUser>

@{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/AdminPanel_ForTables.css")" />

<h2>Пользователи</h2>

<table>
    <tr>
        <th>
            UserName
        </th>
        <th>
            Последнее посещение
        </th>
        <th>
            Роль
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastActivityDate)
        </td>
        <td>
            @Roles.GetRolesForUser(item.UserName).First()
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUser", new { Id = item.UserId }) |
            @Html.ActionLink("Details", "ShowProfile", new { userId = item.UserId }) |
            @Html.ActionLink("Delete", "DeleteUser", new { name = item.UserName })
        </td>
    </tr>
}

</table>