@model IEnumerable<MvcWebProjectNEW.Models.VesenniTopic>

@{
    ViewBag.Title = "ShowTopics";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/AdminPanel_ForTables.css")" />

<h2>Тематики</h2>

<p>
    @Html.ActionLink("Создать", "CreateTopic")
</p>
<table>
    <tr>
        <th>
            Название тематики
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TopicName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTopic", "Admin", new { Id = item.TopicId}, null)  
            @Html.ActionLink("Delete", "DeleteTopic", "Admin", new { Id = item.TopicId}, null)
        </td>
    </tr>
}

</table>
