@model MvcWebProjectNEW.Models.VesenniMaterialIntermidiate
@{
    ViewBag.Title = "CreateMaterials";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}
<h2>Добавить материал</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/AdminPanel_CreateMaterials.css")" />

@ViewBag.Success

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <!--<legend>VesenniMaterial</legend>-->
        @Html.HiddenFor(model => model.ContentId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Visits)

        <addcontent>
                <label for="Content">Содержание страницы (в HTML)</label>
                @Html.TextAreaFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content)
        </addcontent>
        <otherfields>


            <label for="Description">Описание</label>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)


            <label for="KeyWords">Ключевые слова</label>
            @Html.EditorFor(model => model.KeyWords)
            @Html.ValidationMessageFor(model => model.KeyWords)

            <label for="TitleTag">Тег Title</label>
            @Html.EditorFor(model => model.TitleTag)
            @Html.ValidationMessageFor(model => model.TitleTag)

            <label for="VesenniTopicId">Выберерите тематику материала</label>
            <select id="VesenniTopicId" class="single-line" name="VesenniTopicId" size = "1" >
            @{
             
                if (ViewBag.Topics != null)
                {
                    foreach (var item in ViewBag.Topics)
                    {
                                        <option value = "@item.TopicId" > @item.TopicName </option>  
                    }
                }
            
            }
            </select>
            @Html.ValidationMessageFor(model => model.VesenniTopicId)

            <label for="Path">Укажите желаемый адрес(siteName/адрес)</label>
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)

        </otherfields>
        <p>
            <input type="submit" value="CreateMaterials" />
        </p>
    </fieldset>
}
<div>
</div>
