@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutForAdminPanel.cshtml";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/AdminPanel_Index.css")" />
<h2>
    Список задач</h2>
<div>
    <b>Материал</b>
    <ul>
        <li>@Html.ActionLink("Добавить/редактировать раздел", "ShowTopics")</li>
        <li>
            <ul>
                <li>@Html.ActionLink("Добавить/редактировать материал", "ShowMaterials")</li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <b>Каталоги</b>
    <ul>
        <li><a href="#">Редактировать тематики</a></li>
        <li>
            <ul>
                <li><a href="#">Редактировать названия</a></li>
            </ul>
            <ul>
                <li><a href="#">Редактировать статьи</a></li>
            </ul>
        </li>
    </ul>
</div>
<div>
    <b>Пользователь</b>
    <ul>
        <li>@Html.ActionLink("Просмотр пользователей", "ShowUsers")</li>
    </ul>
</div>
<div>
    <b>Статистика</b>
    <ul>
        <li><a href="#">Просмотр</a></li>
    </ul>
</div>
<div>
    <b>Кофигурирование</b>
    <ul>
        <li><a href="#">Генерация SiteMap</a></li>
        <li><a href="#">Анализ индексации страниц</a></li>
    </ul>
</div>
<div>
    <b>Дополнительно</b>
    <ul>
        <li>@Html.ActionLink("Сообщения от пользователей", "ShowLetters")</li>
    </ul>
</div>