@model MvcWebProjectNEW.Models.AspnetUserIntermidiate
@{
    ViewBag.Title = "ShowProfile";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Profile.css")" />
<h2>
    Профиль</h2>
<fieldset>
    <legend>Информация о вас</legend>
    <table>
        <tr>
            <td>
                Имя пользователя:
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                Адрес:
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <tr>
                <td>
                    Название компании:
                </td>
                <td class="display-field">
                    @Html.DisplayFor(model => model.CompaniName)
                </td>
                <tr>
                    <td>
                        Почтовый индекс:
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ZipCode)
                    </td>
                </tr>
                <tr>
                    <td>
                        Телефон1:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Telephone1)
                    </td>
                </tr>
                <tr>
                    <td>
                        Телефон2:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.Telephone2)
                    </td>
                </tr>
                <tr>
                    <td>
                        Полное имя:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.FullName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Прочая информация:
                    </td>
                    <td class="display-field">
                        @Html.DisplayFor(model => model.OtherInformation)
                    </td>
                </tr>
    </table>
    <p align="right">
        @Html.ActionLink("Редактировать", "EditProfile", new { Id = Model.UserId })
    </p>
</fieldset>
<h3>@ViewBag.SuccessSendLetter</h3>
@ViewBag.SuccessSendLetter
@using (Html.BeginForm("SendLetter", "Profile"))
{
    <fieldset>
        <legend>Форма для связи с администрацией </legend>
        @Html.ValidationSummary(true)
        <div>
            @Html.TextBox("letterTitle", "Тема сообщения")
            @Html.TextArea("letterContent")
        </div>
        <div>
            <input type="submit" value="Отправить" />
        </div>
    </fieldset>
}
