@model IEnumerable<Lab4.Product>

@{
    ViewBag.Title = "Shop";
}

<h2>Shop</h2>


<table>
    <tr>
        <th>
            name
        </th>
        <th>
            address
        </th>
        <th>
            status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
          
            @Html.ActionLink("Choose Manager for buying", "ChooseManager", new { id=item.id })|
            @Html.ActionLink("Buy", "Buy", new { id=item.id })
        </td>
    </tr>
}

</table>
